@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
  
.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  max-width: 100px; /* Ajusta el ancho de la imagen según tu preferencia */
  height: auto;
}

  ion-row {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
  }
  
  ion-header {
    padding: 2em;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1333333333);
    background-color: #ffffff;
  }
  
ion-content {
  --ion-background-color: #ffffff;
}

ion-title {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  color: #000;
}
  
  ion-card{
    margin: auto;
    width: 100%;
    // border: 1px solid rgb(223, 8, 8);
    padding: 10px;
  
    --ion-background-color:  rgba(255, 255, 255, 0.877);
    box-shadow: none;
    
  }
  
  
  
  
  ion-label{
  
    --color: #000;
  
  }
  
  
  ion-spinner {
    display: block;
    margin: auto;
    transform: scale(1);
  }



  ion-button{
 
    max-width: 300px;
    height: 63px;
    box-shadow: 0px 3px 20px rgb(141, 141, 141);
    border-radius: 32px;
    margin: 3% auto;
}


.btn-menu::part(native){
  background: #DF202F;
 
}



  table {
    width: 100%;
  }
  




  // .demo-table {
  //   width: 100%;
  // }
  
  .mat-column-idcatalogo {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-nombre {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-rfc {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-telefono {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-cuenta {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-banco {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }
  .mat-column-options {
    width: 10px;
    // border-left: 1px solid currentColor;
    // border-right: 1px solid currentColor;
    border-top: 1px solid currentColor;
    border-bottom: 1px solid currentColor;
    padding-right: 10px;
    text-align: center;
  }

  
  
  // .mat-column-demo-name {
  //   padding-left: 16px;
  //   font-size: 20px;
  // }
  
  // .mat-column-demo-weight {
  //   font-style: italic;
  // }
  
  // .mat-column-demo-symbol {
  //   width: 32px;
  //   text-align: center;
  //   font-weight: bold;
  // }
  
  ion-item{
    --ion-item-background: transparent;
  }

  @media screen and (max-width: 425px) {

    ion-card {
      max-width: 100%;
      padding: 0 1em;
    }
  }